<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" parallel="classes" thread-count="2">
    <test name="Login and Dashboard Tests">
        <classes>
            <class name="loginPageHrm.LoginPageTest" />
            <class name="dashboard.DashboardPimTest" />
        </classes>
    </test>
</suite>
